body[lang="ar"] .sidebar-shop .owl-nav,
body[lang="ar"] .price-slider-wrapper,
body[lang="ar"] .filter-price-action body[lang="ar"] .toolbox {
	direction: ltr !important;
}

body[lang="ar"] .filter-price-action,
body[lang="ar"] .count-deal .btn-add-cart {
	direction: ltr;
}

body[lang="ar"] .al-r {
	text-align: right;
}


body[lang="ar"] .ls-n-10,
body[lang="ar"] .ls-n-15,
body[lang="ar"] .ls-n-20,
body[lang="ar"] .ls-n-25,
body[lang="ar"] h1,
body[lang="ar"] .h1,
body[lang="ar"] h2,
body[lang="ar"] .h2,
body[lang="ar"] h3,
body[lang="ar"] .h3,
body[lang="ar"] h4,
body[lang="ar"] .h4,
body[lang="ar"] h5,
body[lang="ar"] .h5,
body[lang="ar"] h6,
body[lang="ar"].h6,
body[lang="ar"] .widget-title,
body[lang="ar"] .count-deal .btn-add-cart,
body[lang="ar"] .single-info-list a,
body[lang="ar"] .inner-icon:not(.product-widget):hover figure .btn-quickview

{
	font-family: $arabic-font-family;
	letter-spacing: 0 !important;
}

body[lang="ar"] .old-price,
body[lang="ar"] .product-price,
body[lang="ar"] .rc-tree-title,
body[lang="ar"] .toolbox label,
body[lang="ar"] .form-control,
body[lang="ar"] .category-list a,
body[lang="ar"] .cat-list,
body[lang="ar"] .product-countdown-title,
body[lang="ar"] .count-deal .product-default .countdown-section>.countdown-period,
body[lang="ar"] .product-single-details .product-desc,
body[lang="ar"] .breadcrumb-item
{
	font-family: $second-arabic-font-family;
}

body[lang="ar"] .home-slide p {   
    letter-spacing: 1.1px;
}


body[lang="ar"] .coupon-sale-text strong {
    padding-right: 2.4rem;
}

body[lang="ar"] .product-single-details .rating-link {
    margin-right: 5px;
}

body[lang="ar"] .product-single-gallery .label-group {
	left: 90%;
}

body[lang="ar"] .layout-btn {
	margin-left: 5px;
}


body[lang="ar"] .count-deal .product-default .countdown-section>.countdown-period {
	margin-right: 5px;
	margin-left: 5px !important;
}

body[lang="ar"] .toolbox-sort .select-custom .form-control {
	padding-right: 2.8rem;
	padding-left: 0.8rem;
}


body[lang="ar"] .widget-brand .cat-list li {
	// font-size: 1.4rem;
}

body[lang="ar"] .toolbox label {
	margin-left: 5px;
}


body[lang="ar"] .toolbox-item,
body[lang="ar"] .offer-products,
body[lang="ar"] .toolbox-show,
body[lang="ar"] .products-container .product-details,
body[lang="ar"] .product-single-container,
body[lang="ar"] .products-slider,
body[lang="ar"] .footer {
	direction: rtl !important;
}

body[lang="ar"] .widget .owl-carousel .owl-nav {
	right: 94% !important;
}

body[lang="ar"] .cat-list .products-count {
	margin-right: 3px;
}

body[lang="ar"] .page-item:is(:first-child) {
	margin-right: 0.5rem;
	margin-left: 0.5rem;

}


body[lang="ar"] .old-price {
	margin-right: 0;
	margin-left: 5px;
}

body[lang="ar"] .product-default.product-list .category-list,
body[lang="ar"] .section-title,
body[lang="ar"] .section-info,
body[lang="ar"] .footer h1,
body[lang="ar"] .footer h2,
body[lang="ar"] .footer h3,
body[lang="ar"] .footer h4,
body[lang="ar"] .footer h5,
body[lang="ar"] .footer h6,
body[lang="ar"] .footer ul,
body[lang="ar"] .product-single-details .price-box,
body[lang="ar"] .product-single-details .product-desc,
body[lang="ar"] .social-icons,
body[lang="ar"] .product-single-details .single-info-list,
body[lang="ar"] .product-single-details .product-action,
body[lang="ar"] .product-single-details .product-title
{
	text-align: right;
}

body[lang="ar"] .ratings-container .product-ratings,
.ratings-container .ratings {
	right: 0;
}

body[lang="ar"] .main-nav .menu>li>a {
	// font-size: 1.7rem;
	font-weight: 700;
}


body[lang="ar"] .menu-depart>a:after {
	// content: '\e81c';
	// position: absolute;
	// font-family: "porto";
	left: 10px;
	// font-weight: 900;
}

body[lang="ar"] .menu-depart>a {
	padding-right: 10px;
	padding-left: 100px;
	// font-size: 2rem;
	font-weight: 700;
}

body[lang="ar"] .menu-depart>a .fa-bars {
	margin-left: 10px;
}

body[lang="ar"] .info-item a {
	// font-size: 1.7rem;
	font-weight: 700;

}

body[lang="ar"] .main-nav .menu{
	// font-size: 1.5rem;
	font-weight: 700;

}
body[lang="ar"] .main-nav .menu a{
	font-weight: 500!important;

}

body[lang="ar"] .menu-depart .megamenu .submenu a{
	// font-size: 1.7rem;
	font-weight: 700;

}


body[lang="ar"] .section-title {
	// font-size: 3rem;
	margin-top: 40px;
	margin-bottom: 60px;
}

body[lang="ar"] .menu-depart {
	.menu {
		>li {
			&:hover {
				.megamenu {
					height: auto;
					left: -68% !important;
				}
			}
		}
	}
}

body[lang="ar"] .menu-depart {
	.menu {


		>li {
			.menu-btn {
				&:after {
					font-family: 'porto';
					content: "\e819";
				}
			}
		}
	}
}


body[lang="ar"] .product-single-details .product-action .add-cart{
	margin-right: 2.5rem !important;
}

body[lang="ar"] .product-single-details .product-action .add-cart:before {
    margin-left: 5px;
}

body[lang="ar"] .menu-depart .megamenu .submenu li {
	padding: 18px
}



body[lang="ar"] .sidebar-shop .widget-title{
	// font-size: 2rem;

}

body[lang="ar"] .rc-tree.cat-list .rc-tree-treenode{
	// font-size: 1.7rem;
}


body[lang="ar"] .product-default .product-title{
	// font-size: 1.7rem;
}

body[lang="ar"]  .product-default .category-list{
	// font-size: 1.4rem;
}

body[lang="ar"] .inner-icon .price-box{
	// font-size:2rem;
}


body[lang="ar"] .product-widget .old-price{
	// font-size:1.5rem;
	margin-right: 5px !important;
}

body[lang="ar"] .breadcrumb-item + .breadcrumb-item:before {
    content: "\e819";
    // font-size: 12px;
    // font-family: "porto";
    // vertical-align: middle;
    // margin-top: -2px;
    margin-left: 6px;
}